<section id="primary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 text-center">
				<h1 class="p-title">Recycle and get Money back electronically</h1>
				<h4>Chicago • Boston • Los Angeles • Oakland • San Francisco</h4>
				<div><%= link_to "Sign Up", signup_path, class: "btn btn-lg p-btn" %>
				</div>
			</div>
		</div>
	</div>
	
</section>