<%= render 'shared/nav' %>

<section>
	<div class="container-fluid">
		<div class="row">
			<% @pickups.each do |pickup| %>

				<p><%= pickup.user.first %></p>

			<% end %>
		</div>
	</div>
</section>
