<header class="nav-bar mainmenu">
    <div id='cssmenu'>
        <ul class="text-center">
           <li class="active"><a href='#discover' class="la">Discover</a></li>
           <li><%= link_to "My Account", user_path(current_user.id) %></li>
           <li><%= link_to "Home", root_path %></li>
           <li><%= link_to "Sign Up", signup_path %></li>
           <li><%= link_to "Log In", login_path %></li>
        </ul>
    </div>
</header>