// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions-page {
	background: #E9967A;
	padding: 200px 0;
}

.flash {
	background: rgba(255, 0, 0, 0.4);
	color: white;
	border-radius: 2px;
}