// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-page {
	background: #E9967A;
	padding-bottom: 200px;
}

.signup-row {
	margin-top: 100px;
}